@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport {  width: device-width; scale: 1;}
@-o-viewport {  width: device-width; scale: 1;}
@-webkit-viewport {  width: device-width; scale: 1;}
@viewport {  width: device-width; scale: 1;}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.toaster {
    position: relative;
    width: 500px;
    height: 900px;
    left: 100px;
    top: 2px;
    z-index: 2;
}

.toast {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 300px;
    top: 220px;
    z-index: 1;
}

.banner {
    background-color: #76dcf4;
    width: 1500px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}

