@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport {  width: device-width; scale: 1;}
@-o-viewport {  width: device-width; scale: 1;}
@-webkit-viewport {  width: device-width; scale: 1;}
@viewport {  width: device-width; scale: 1;}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.toaster {
    position: relative;
    width: 500px;
    height: 500px;
    left: 10px;
    top: 2px;
    z-index: 2;
}

.toast {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 540px;
    top: 350px;
    z-index: 1;
}

.banner {
    background-color: #76dcf4;
    padding: 20em;
}
    