@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport {  width: device-width; scale: 1;}
@-o-viewport {  width: device-width; scale: 1;}
@-webkit-viewport {  width: device-width; scale: 1;}
@viewport {  width: device-width; scale: 1;}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

img {
    display: block;
    width: 100%;
}

.toaster {
    position: absolute;
    height: 165px;
    width: 165px;
    top: 85px;
    left: 75px;
    z-index: 2;
    -webkit-transform: translateX(0px);
    -webkit-transform-origin: bottom center;
    transition: all 1s linear;
}

.toast {
    position: absolute;
    height: 4em;
    width: 4em;
    left:125px;
    top: 115px;
    z-index: 1;
    -webkit-animation: toast-move 5s linear forwards infinite;
    animation: toast-move 5s linear forwards infinite;
}

.banner {
    background-image: url(../img/background-trial-longer.svg);
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-color: #76dcf4;
}

.trigger {
    position:absolute;
    height: 1em;
    width: 1em;
    top: 150px;
    left: 225px;
}

.toaster:hover {
     -webkit-transform: translateX(-5px);
}
    
.breakfast {
    text-align: center;
    margin: 0;
    font-size: 250%;
    color: black;
    transition: color 500ms linear;
}

.breakfast:hover {
    color: white;
}

.subtitle {
    text-align: center;
    font-size: 110%;
}

.down {
    width: 100%;
    height: 50px;
    width: 50px;
    top: 370px;
    left: 130px;
    display: block;
    position: absolute;
    -webkit-animation: down-rotate 5s linear forwards;
    animation: down-rotate 5s linear forwards;
}

.fulltoaster {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media only screen and (min-width: 25em) {
    
    .toaster {
        left: 8px;
        width: 100%;
        top: 300px;
    }
    
    .toast {
        width: 100%;
        left: 10px;
        top: 300px;
        height: 5em;
    }
    
    .trigger {
        left: 830px;
        top: 350px;
    }
    
    .down {
        top: 650px;
        left: 700px;
    }
    
    .breakfast {
        font-size: 300%;
    }   
    
}

@-webkit-keyframes toast-move {
    
    0% {
        -webkit-transform: translateY(0px);
    }
    
    20% {
        -webkit-transform: translateY(-10px);
    }
    
    30% {
        -webkit-transform: translateY(-80px);
        -webkit-transform: rotate(0);
    }
    
    40% {
        -webkit-transform: translateY(-100px);
    }
    
    50% {
        -webkit-transform: translateY(-120px);
    }
    
    100% {
        -webkit-transform: translateX(0px);
        -webkit-transform: rotate(180deg);
    }    
  
}

@-webkit-keyframes down-rotate {
    
    0% {
        -webkit-transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
    }
    
}
    
@keyframes toast-move {
    
    0% {
        transform: translateY(0px);
    }
    
    20% {
        transform: translateY(-10px);
    }
    
    30% {
        transform: translateY(-80px);
        transform: rotate(0);
    }
    
    40% {
        transform: translateY(-100px);
    }
    
    50% {
        transform: translateY(-120px);
    }
    
    100% {
        transform: translateX(0px);
        transform: rotate(180deg);
    }    
  
}

@keyframes down-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}

    